* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  /* ===== Colors ===== */
  --smoky-black: #111111;
  --black-coral: #5b676f;
  --cadet-grey: #8b97a0;
  --celadon-blue: #58889c;
  --maximum-bue: #5cabc7;
  --white: #ffffff;
  --black: #000000;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--white);
  transition: var(--tran-05);
}

::selection {
    background-color: var(--celadon-blue);
  color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--black-coral);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar img {
width: 2em;    
z-index: 10;
    
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--white);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 22px;
  font-weight: 600;
}

header .image-text .type {
  font-size: 18px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%) rotate(180deg);
  height: 30px;
  width: 30px;
  background-color: var(--black-coral);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
  font-weight: 900;
  z-index: 1;
}

.sidebar.close .toggle {
    right: -25px;
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 30px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--celadon-blue);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--white);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}

.content {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--white);
  transition: var(--tran-05);
}

.sidebar.close ~ .content {
  left: 88px;
  height: 100vh;
  width: calc(100% - 88px);
}
