{% extends "layout.html" %} {% block title %}<title>poe-reboot</title>{%
endblock title %} {% block content %}
<div id="content_poe-reboot">
  <!-- restart buttons etc -->
  <div class="main">
    <div class="execution">
      <form method="POST">
        <select name="location" id="location">
          <option value="HQ">HQ</option>
          <option value="WH005">WH005</option>
          <option value="WH006">WH006</option>
          <option value="WH099">WH099</option>
        </select>

        <select name="devices" id="devices"></select>

        <input type="submit" id="submit-btn" value="reboot" />
      </form>
    </div>
  </div>
  <!-- processbar -->
  <div id="process_bar">
    <i class="process_bar_toggle">^</i>
    <table class="process_table">
      <tr class="process_item_title">
        <th>device</th>
        <th>status</th>
        <th>loading</th>
      </tr>
      <tr class="process_item">
        <td><div id="tDeviceName">host01</div></td>
        <td><div id="value-container"></div></td>
        <td class="process_progressbar"><div class="loader"></div></td>
      </tr>
    </table>
  </div>
</div>
{% endblock content %} {% block script %}
<script src="{{ url_for('static', filename='poe-reboot.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>

<script>
  var array = [];

  ("{% for device in devices %}");
  array.push(["{{ device[0] }}, {{ device[1] }}"]);
  ("{% endfor %}");

  selectList = document.getElementById("devices");

  window.onload = function () {
    for (var i = 0; i < array.length; i++) {
      if (
        array[i][0]
          .split(",")[1]
          .includes(document.getElementById("location").value)
      ) {
        var option = document.createElement("option");
        option.value = array[i][0].split(",")[0];
        option.text = array[i][0].split(",")[0];
        selectList.appendChild(option);
      }
    }
  };

  document.getElementById("location").onchange = function () {
    document.getElementById("devices").innerHTML = "";

    for (var i = 0; i < array.length; i++) {
      if (
        array[i][0]
          .split(",")[1]
          .includes(document.getElementById("location").value)
      ) {
        var option = document.createElement("option");
        option.value = array[i][0].split(",")[0];
        option.text = array[i][0].split(",")[0];
        selectList.appendChild(option);
      }
    }
  };

  var socket = io.connect("http://" + document.domain + ":" + location.port);
  socket.on("value", function (value, tDeviceName) {
    var valueContainer = document.getElementById("value-container");
    valueContainer.innerHTML = value;
    console.log(value);
  });

  setInterval(function () {
    socket.emit("request_value");
  }, 1000);

  setInterval(function () {
    var valueContainer = document.getElementById("value-container");
    valueContainer.outerHTML = valueContainer.outerHTML;
  }, 1000);
</script>
{% endblock script %}
